//variables de colores
$color-navbar-bg: rgba(47, 93, 140, 0.5);
$color-white: #fff;
$overlay-dark: 15, 23, 42;
$color-primary: #406bce;
$color-muted:#6c757d;
$color-about-bg: rgba(155, 191, 230, 0.5);

//variables de tipografía
$font-xxl: 3rem; //titulos
$font-lg: 2rem;
$font-md: 1.1rem; //texto normal

//espaciados
$spacing-xl: 48px;
$spacing-lg: 24px;
$spacing-md: 16px;
$spacing-sm: 8px;
$spacing-xs: 4px;